body {
  text-align: center;
  margin-top: 70px;
  background-color: white;
  font-family: "Raleway", sans-serif;
}

.container {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border: 1px solid white;
  border-radius: 20px;
  display: block;
  width: 600px;
  margin-top: 10px;
}
form {
  margin: 0;
}
div {
  text-align: center;
}
input {
  size: 30px;
}
.box {
  position: relative;
  width: 400px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}
h5 {
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}
h2 {
  display: block;
  text-align: left;
  margin-left: 20px;
}
h1 {
  display: block;
  font-size: 70px;
  text-align: right;
  margin-right: 20px;
}
p {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}
h4 {
  font-size: 20px;
}

i {
  font-size: 35px;
}

.tempNum {
  font-size: 15px;
}

.row {
  margin-top: 190px;
  margin-bottom: 20px;
  color: gray;
  border: thin;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.25);
}

input#city-input {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  border: thin;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

input#search {
  border-radius: 20px;
  border: 19px;
  background-color: #adc0ed;
  border-color: white;
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding: 1px 10px;
}
